Задание 1

In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston

In [2]:
boston = load_boston()

C:\Users\Razer\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [3]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [4]:
data = boston.data

In [5]:
target = boston.target

In [6]:
feature_names = boston.feature_names

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X = pd.DataFrame(data, columns = feature_names)

In [9]:
y = pd.DataFrame(target, columns = ['price'])

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
lr = LinearRegression()

In [13]:
lr.fit(X_train, y_train)

LinearRegression()

In [14]:
y_pred = lr.predict(X_test)

In [15]:
check_test = pd.DataFrame({'y_test': y_test['price'],'y_pred': y_pred.flatten()},
                         columns = ['y_test', 'y_pred'])

In [16]:
check_test.head(10)

     y_test     y_pred
173    23.6  28.534695
274    32.4  36.618701
491    13.6  15.637511
72     22.8  25.501450
452    16.1  18.709673
76     20.0  23.164716
316    17.8  17.310110
140    14.0  14.077364
471    19.6  23.010644
500    16.8  20.542235

In [17]:
from sklearn.metrics import r2_score
r2 = r2_score

In [18]:
r2_1 =r2(check_test["y_pred"], check_test['y_test'])
r2_1

0.6709558976744421

Задание 2

In [19]:
from sklearn.ensemble import RandomForestRegressor

In [20]:
model = RandomForestRegressor(n_estimators = 1000, max_depth = 12, random_state = 42)

In [21]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [22]:
y_pred = model.predict(X_test)

In [23]:
check_test = pd.DataFrame({'y_test': y_test['price'],'y_pred': y_pred.flatten()},
                         columns = ['y_test', 'y_pred'])

In [25]:
check_test.head(10)

     y_test     y_pred
173    23.6  22.633172
274    32.4  31.401489
491    13.6  16.604033
72     22.8  23.680828
452    16.1  17.092412
76     20.0  21.596315
316    17.8  19.973690
140    14.0  14.881983
471    19.6  21.315430
500    16.8  21.190421

In [26]:
r2_2 =r2(check_test["y_pred"], check_test['y_test'])
r2_2

0.8313119473735879

In [27]:
r2_1

0.6709558976744421

Модель RandomForestRegressor работает точнее чем модель LinearRegression так как его значение ближе к 1

Задание 3

In [28]:
from sklearn.ensemble import RandomForestRegressor
?RandomForestRegressor

In [30]:
print(model.feature_importances_)

[0.0338027  0.00320578 0.00619517 0.00128683 0.01201835 0.35808131
 0.01471098 0.05965106 0.00469447 0.01251055 0.01922967 0.01187371
 0.46273942]

In [31]:
print(sum(model.feature_importances_))

1.0000000000000002

In [32]:
fit_imp = pd.DataFrame({"feature_name": boston['feature_names'],
    "feature_importance": model.feature_importances_})

In [33]:
fit_imp

   feature_name  feature_importance
0          CRIM            0.033803
1            ZN            0.003206
2         INDUS            0.006195
3          CHAS            0.001287
4           NOX            0.012018
5            RM            0.358081
6           AGE            0.014711
7           DIS            0.059651
8           RAD            0.004694
9           TAX            0.012511
10      PTRATIO            0.019230
11            B            0.011874
12        LSTAT            0.462739

In [37]:
fit_imp.sort_values('feature_importance', ascending=False).head(2)

   feature_name  feature_importance
12        LSTAT            0.462739
5            RM            0.358081